# Block user from viewing list of files in a directory
Options -Indexes
IndexIgnore *

# Block access to some files/directorys
<Files .gitignore>
    Require all granted
</Files>

<Files /.git/>
   Require all granted
</Files>

<Files /logs/>
   Require all granted
</Files>
