# Custom error pages
ErrorDocument 403 /error/403/
ErrorDocument 404 /error/404/

# Block user from viewing list of files in a directory
Options -Indexes
IndexIgnore *

# Block access to some files/directorys

<Files README.md>
    Require all denied
</Files>

<Files .htaccess>
    Require all denied
</Files>

<Files .gitignore>
    Require all denied
</Files>

<Files /.git/>
   Require all denied
</Files>

<Files /logs/>
   Require all denied
</Files>
