.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.social-link {
    display: block;
    text-decoration: none;
    margin: 5px;
    padding: 15px;

    &:hover,
    &:focus {
        .social-link__image {
            box-shadow: 0 0 10px 0 transparentize($dark-colour, 0.6);
        }

        .social-link__text {
            &::after {
                width: calc(100% - 16px);
            }
        }
    }
}

.social-link__image {
    height: 40px;
    background-color: #000000;
    vertical-align: middle;
    transition: background-color 0.3s ease-in-out;
}

.social-link__text {
    position: relative;
    display: inline-block;
    color: $dark-colour;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    margin: 10px 0;
    padding: 0 0 3px;

    &::after {
        content: "\00a0";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 1px;
        transition: all 0.3s ease-in-out;
        transform: translateX(-50%);
    }
}

.social-link--logo {
    img {
        border-radius: 50%;
        border: 1px solid transparent;
    }

    &:hover,
    &:focus {
        img {
            background: $primary-colour;
            border-color: $primary-colour;
        }

        .social-link__text {
            color: $primary-colour;

            &::after {
                background: $primary-colour;
            }
        }
    }
}

.social-link--linkedin:hover,
.social-link--linkedin:focus {
    .social-link__image {
        background-color: $linkedin-colour;
    }

    .social-link__text {
        color: $linkedin-colour;

        &::after {
            background: $linkedin-colour;
        }
    }
}

.social-link--github {
    &:hover,
    &:focus {
        .social-link__image {
            background-color: $github-colour;
        }

        .social-link__text {
            color: $github-colour;

            &::after {
                background: $github-colour;
            }
        }
    }

    .social-link__image {
        border-radius: 50%;
    }
}

.social-link--instagram {
    &:hover ,
    &:focus {
        .social-link__image {
            &::before {
                opacity: 1;
            }
        }

        .social-link__text {
            color: $instagram-purple-colour;

            &::after {
                background: $instagram-purple-colour;
            }
        }
    }

    .social-link__image {
        @include insta-logo(40);

        display: inline-block;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background: radial-gradient(
                    circle farthest-corner at 32% 106%,
                    #ffe17d 0%,
                    #ffcd69 10%,
                    #fa9137 28%,
                    #eb4141 42%,
                    transparent 82%
            ),
            linear-gradient(135deg, #234bd7 12%, #c33cbe 58%);
            transition: opacity 0.3s ease-in-out;
            opacity: 0;
        }

        i {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }

        i::before {
            content: "\00a0";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }

        i::after {
            content: "\00a0";
            position: absolute;
            background: #ffffff;
        }
    }
}

.social-link--npm:hover,
.social-link--npm:focus {
    .social-link__image {
        background-color: $npm-colour;
    }

    .social-link__text {
        color: $npm-colour;

        &::after {
            background: $npm-colour;
        }
    }
}

.social-link--packagist {
    &:hover,
    &:focus {
        .social-link__image {
            background-color: $packagist-colour;
        }

        .social-link__text {
            color: $packagist-colour;

            &::after {
                background: $packagist-colour;
            }
        }
    }

    .social-link__image {
        border-radius: 50%;
    }
}

@media only screen and (min-width: $desktop-width) {
    .page__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1170px;
        margin: 0 auto;
    }

    .social-link {
        display: inline-block;
    }

    .social-link__image {
        height: 50px;
    }

    .social-link--instagram {
        .social-link__image {
            @include insta-logo(50);
        }
    }
}
